{:index 0, :time 13777000, :type :invoke, :process 0, :f :read, :value nil}
{:index 1, :time 15590958, :type :info, :process :nemesis, :f :start-partition, :value :majority}
{:index 2, :time 18664708, :type :info, :process :nemesis, :f :start-partition, :value [:isolated {"n4" #{"n2" "n1" "n3"}, "n0" #{"n2" "n1" "n3"}, "n2" #{"n4" "n0"}, "n1" #{"n4" "n0"}, "n3" #{"n4" "n0"}}]}
{:index 3, :time 85971375, :type :invoke, :process 2, :f :broadcast, :value 0}
{:index 4, :time 88142375, :type :ok, :process 2, :f :broadcast, :value 0}
{:index 5, :time 162085541, :type :invoke, :process 3, :f :read, :value nil}
{:index 6, :time 353487291, :type :invoke, :process 4, :f :broadcast, :value 1}
{:index 7, :time 358193458, :type :ok, :process 4, :f :broadcast, :value 1}
{:index 8, :time 473077333, :type :invoke, :process 1, :f :read, :value nil}
{:index 9, :time 668624250, :type :invoke, :process 2, :f :read, :value nil}
{:index 10, :time 785974375, :type :invoke, :process 4, :f :broadcast, :value 2}
{:index 11, :time 788442833, :type :ok, :process 4, :f :broadcast, :value 2}
{:index 12, :time 903702666, :type :info, :process :nemesis, :f :stop-partition, :value nil}
{:index 13, :time 904542375, :type :info, :process :nemesis, :f :stop-partition, :value :network-healed}
{:index 14, :time 925002208, :type :invoke, :process 4, :f :broadcast, :value 3}
{:index 15, :time 927030500, :type :ok, :process 4, :f :broadcast, :value 3}
{:index 16, :time 1005964375, :type :invoke, :process 4, :f :read, :value nil}
{:index 17, :time 1009026375, :type :ok, :process 4, :f :read, :value [1 2 3]}
{:index 18, :time 1020029291, :type :ok, :process 0, :f :read, :value [3]}
{:index 19, :time 1084631625, :type :invoke, :process 0, :f :read, :value nil}
{:index 20, :time 1088145500, :type :ok, :process 0, :f :read, :value [0 1 2 3]}
{:index 21, :time 1165753500, :type :ok, :process 3, :f :read, :value [0 3]}
{:index 22, :time 1249555833, :type :invoke, :process 0, :f :broadcast, :value 4}
{:index 23, :time 1251165416, :type :ok, :process 0, :f :broadcast, :value 4}
{:index 24, :time 1355951083, :type :invoke, :process 3, :f :read, :value nil}
{:index 25, :time 1358312375, :type :ok, :process 3, :f :read, :value [0 1 2 3 4]}
{:index 26, :time 1383361458, :type :invoke, :process 3, :f :read, :value nil}
{:index 27, :time 1385916375, :type :ok, :process 3, :f :read, :value [0 1 2 3 4]}
{:index 28, :time 1398956083, :type :invoke, :process 3, :f :broadcast, :value 5}
{:index 29, :time 1400486208, :type :ok, :process 3, :f :broadcast, :value 5}
{:index 30, :time 1442234333, :type :invoke, :process 4, :f :broadcast, :value 6}
{:index 31, :time 1443567625, :type :ok, :process 4, :f :broadcast, :value 6}
{:index 32, :time 1479350500, :type :ok, :process 1, :f :read, :value [0 3 4 5 6]}
{:index 33, :time 1564607416, :type :invoke, :process 0, :f :read, :value nil}
{:index 34, :time 1566905250, :type :ok, :process 0, :f :read, :value [0 1 2 3 4 5 6]}
{:index 35, :time 1672889750, :type :ok, :process 2, :f :read, :value [0 3 4 5 6]}
{:index 36, :time 1677965916, :type :invoke, :process 0, :f :read, :value nil}
{:index 37, :time 1681321666, :type :ok, :process 0, :f :read, :value [0 1 2 3 4 5 6]}
{:index 38, :time 1859414916, :type :invoke, :process 1, :f :broadcast, :value 7}
{:index 39, :time 1863644916, :type :ok, :process 1, :f :broadcast, :value 7}
{:index 40, :time 1952974583, :type :invoke, :process 2, :f :read, :value nil}
{:index 41, :time 1955923833, :type :ok, :process 2, :f :read, :value [0 1 2 3 4 5 6 7]}
{:index 42, :time 1955966833, :type :info, :process :nemesis, :f :stop-partition, :value nil}
{:index 43, :time 1956267708, :type :info, :process :nemesis, :f :stop-partition, :value :network-healed}
{:index 44, :time 11962253125, :type :invoke, :process 2, :f :read, :value nil, :final? true}
{:index 45, :time 11968080041, :type :invoke, :process 3, :f :read, :value nil, :final? true}
{:index 46, :time 11968386875, :type :invoke, :process 4, :f :read, :value nil, :final? true}
{:index 47, :time 11968568958, :type :invoke, :process 1, :f :read, :value nil, :final? true}
{:index 48, :time 11968712250, :type :invoke, :process 0, :f :read, :value nil, :final? true}
{:index 49, :time 11976192666, :type :ok, :process 3, :f :read, :value [0 1 2 3 4 5 6 7], :final? true}
{:index 50, :time 11976272916, :type :ok, :process 4, :f :read, :value [0 1 2 3 4 5 6 7], :final? true}
{:index 51, :time 11976308291, :type :ok, :process 1, :f :read, :value [0 1 2 3 4 5 6 7], :final? true}
{:index 52, :time 11976333125, :type :ok, :process 0, :f :read, :value [0 1 2 3 4 5 6 7], :final? true}
{:index 53, :time 11976353666, :type :ok, :process 2, :f :read, :value [0 1 2 3 4 5 6 7], :final? true}
